<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CelerySticks"
        tools:targetApi="31">
        <!-- For geolocation map view <meta-data android:name="com.google.android.geo.API_KEY" android:value="${MAPS_API_KEY}" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CelerySticks.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".ui.myevents.EventDetailsViewModel"></activity>
        <activity android:name=".ui.eventadd.AddEventFragment"></activity>
        <activity android:name=".ui.myevents.EventQRCodeView"></activity>
        <activity android:name=".ui.myevents.ManageEntrantsFragment"></activity>
        <activity android:name=".GeolocationMap"></activity>
        <activity android:name=".ui.myevents.SelectedEntrantsFragment"></activity>
        <activity android:name=".ui.browseusers.ProfileDetailsViewModel"></activity>
        <activity android:name=".ui.browseusers.FacilityDetailsActivity"></activity>
        <activity android:name=".ui.browseimages.BrowseImageViewFragment"></activity>
        <activity android:name=".ui.myevents.AcceptedListFragment"></activity>
        <activity android:name=".ui.myevents.CancelledListFragment"></activity>

    </application>

</manifest>